@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-size: 4vw;
    margin: 0;
    padding: 0;
}

body {
    background: url("/images/front_view.jpg") center center fixed;
}

h1 {
    color: #B8D7C5;
}

.button {
    background: #C9E1D2;
    color: #60A378;
}
.button_active {
    background: #60A378;
    color: #C9E1D2;
}
