@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 1920px) {
    body {
        background: url("/images/front_view.jpg") center center no-repeat;
    }
}
h1 {
    color: #B8D7C5;
    margin: 7vh 60vw 0 40vw;
    font-size: 5vw;
}

.button {
    background: #C9E1D2;
    color: #60A378;
}
.button_active {
    background: #60A378;
    color: #C9E1D2;
}
